<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upsurge | Hold Your Bit | Download File</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Kanit:ital,wght@1,800&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/download-style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/exam.ico">
</head>
<body>
    <div id="title"><h1><span id="title-link">Upsurge</span></h1></div>
    <script>
        const titleLink = document.querySelector("#title-link");
        titleLink.addEventListener("click", () => {
            window.location.href = "../";
        })
    </script>
    <section class="head-upload">
        <h2>Download File</h2>
        <div class="download-icon">
            <img src="/assets/file_download_FILL0_wght400_GRAD0_opsz48.svg" alt="Download File Icon" draggable="false">
        </div>
        <% if (locals.error) { %>
            <h2><%= locals.error %></h2>
        <% } else { %>
        <b><p id="file-details"><%= parseInt(locals.fileSize/1024) %> KB &ensp;●&ensp; Link expires in 24 hours &ensp;</p></b>
        <div class="download-button">
            <a href="<%= downloadLink %>"<button id="download-here">Download File</button></a>
        </div>
        <h3 id="thank-you">Thank you for using Upsurge!!</h3>
        <% } %>
    </section>
    <div class="image-division">
        <img src="/assets/video-calling.png" alt="Image0" id="image-0" draggable="false">
        <img src="/assets/chatting.png" alt="Image1" id="image-1" draggable="false">
        <img src="/assets/dumbbell.png" alt="Image2" id="image-2" draggable="false">
        <img src="/assets/chatting(1).png" alt="Image3" id="image-3" draggable="false">
        <img src="/assets/cat.png" alt="Image4" id="image-4" draggable="false">
        <img src="/assets/listening.png" alt="Image5" id="image-5" draggable="false">
        <img src="/assets/reading.png" alt="Image6" id="image-6" draggable="false">
    </div>
    <section class="toast-alert"></section>
    <section id="developer-credits">
        <big>Upsurge &copy 2022</big><br>
        Developed with ❤️ by <a href="https://github.com/bevatsal1122" target="_blank"><big>Vatsal Sanchala</big></a>
    </section>
</body>
</html>
